.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    /* stroke: darkblue; */
    stroke-opacity: .3;
}

.link:hover {
    stroke-opacity: .7;
}


.map {
    background-color: lightsteelblue;
    margin: auto;
    width: 80%;
    position: relative;
}

.sankey {
    position: relative;
    margin: auto;
    width: 80%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.block{
    display: inline-block;
    position: absolute;
}